language: node_js
node_js:
- '6.11'
sudo: false
cache:
  directories:
  - node_modules
addons:
  postgresql: "9.6"
before_script:
  - psql -c 'create database webmaker_oauth_test' -U postgres -h localhost
