.loginNoPass {
  height: 175px;
  padding: 25px;
  background-color: #FFFFFF;
  max-width: 350px;
  width: 100%
  margin: 0 auto;
  @media (min-width : 451px) {
    margin: auto;
  }
}

.migrateKeyContainer {
  max-width: 400px;
  width: 100%;
  margin: auto;
  height: 505px;
  .migrateKey {
    height: 170px;
    padding: 25px;
    background-color: #FFFFFF;
    margin-top: 30px;
  }
}

.setPassMigration {
  height: 180px;
  padding-top: 25px;
  background-color: #FFFFFF;
}

.arrow_box {
  position: relative;
  box-shadow: 0 1px 0 0 #DADADA;
  border-radius: 5px;
}
.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-top-color: #F9FDFF;
  border-width: 10px;
}

.successBanner {
  display: block;
  background-color: #53C0A3;
  color: #FAFAFA;
  padding: 0 15px;
  color: #FAFAFA;
  width: 100%;
  max-width: 400px;
  height: 200px;
  @media (min-width : 451px) {
    height: 180px;
  }
  .successBannerIcon {
    &:before {
      top: 17px;
      left: 19px;
      position: relative;
      color: #FAFAFA;
      .icon(@fa-check);
      font-size: 28px;
    }
    float: left;
    display: inline-block;
    vertical-align: bottom;
    border: 2px solid #FAFAFA;
    margin-right: 1rem;
    width: 7rem;
    height: 7rem;
    border-radius: 2.5em;
    position: relative;
    top: 55px;
  }
  .text {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    padding: 20px;
    @media (min-width : 451px) {
      max-width: 275px;
    }
    p {
      font-size: 15px;
    }
    a {
      color: #FAFAFA;
      text-decoration: underline;
      font-weight: 500;
    }
    .successBannerHeader {
      margin: 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: lighter;
    }
  }
}
