.requestPassword {
  height: 180px;
  padding: 30px;
  background-color: #FFFFFF;
  .btn.btn-awsm {
    max-width: 200px;
  }
}

.resetPassword {
  padding: 30px;
  height: 245px;
  background-color: #FFFFFF;
}

.emailSent,
.passwordResetSuccess {
  .flex();
  .flex-row();
  height: 160px;
  width: 100%;
  max-width: 400px;
  background-color: #F9FDFF;
  padding: 32px 15px;
  color: #525659;
  .emailSentIcon,
  .passwordResetIcon {
    &:before {
      top: .5em;
      position: relative;
      font-size: 28px;
      color: #72AFDE;
    }
    .flex-order(1);
    text-align: center;
    border: 2px solid #72AFDE;
    margin-right: 1rem;
    width: 7rem;
    height: 6rem;
    border-radius: 2.5em;
  }
  .text {
    .flex();
    .flex-col();
    .flex-order(2);
    p {
      .flex();
      .flex-order(2);
      font-size: 15px;
    }
    .emailSentHeader,
    .passwordResetHeader {
      .flex();
      .flex-order(1);
      margin: 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: lighter;
    }
  }
}

.passwordResetSuccess {
  margin-bottom: 15px;
  .passwordResetIcon {
    margin-top: 10px;
  }
}
