.navbar {
  /* fallback */
  background-color: #1F93D0;
  height: 40px;
  width: 100%;
  border-radius: 0;
  position: relative;
}

.logo {
  height: 30px;
  position: absolute;
  top: 10px;
  left: 28px;
}

.sign-up {
  margin: 13px 26px 0 0;
  float: right;
  color: #F9F7FF;
  a {
    color: #F9F7FF;
  }
}
